body {
  margin: 0;
  background: #000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  //background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background: white;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}

#polina {
  font-family: Impact, Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 1rem;
  width: 100%;
//  margin:2rem;
//  float: middle;

  font-size: 1.2rem;

  position: absolute;
  top: 30%;
  text-align: center;
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    left: 50%;
    margin:auto;
    //letter-spacing: .3rem;

  }

}



#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;

}

#polina button:hover {
  background: rgba(0,0,0,0.5);
}

#polina p{
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  color: lightgray;
  margin-top: -0.2em;
}

#polina a {
  display: inline-block;
  //color: #fff;
  text-decoration: none;
  //background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;

  margin-top: 0.8em;
  width: 10em;

  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;

  border: thick;
  border-color: darkgrey;


}

#polina a:hover{
  background: rgba(0,0,0,0.5);
  border-color: darkgrey;
}

#post_item{
  background: #FF9933;
  color: white;
}

#find_item{
  background: #99CC99;
  color: white;
}

#post_item:hover{
   background: rgba(0,0,0,0.5);
   color: white;
 }

#find_item:hover{
  background: rgba(0,0,0,0.5);
  color: white;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

#footer {
  position: absolute;
  bottom: 0%;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  color: white;
}
