// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post-item-form input, textarea, select .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  //@include box_sizing;
}

.item_block {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  text-align: center;
}